body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #111827;
    color: #d1d5db;
}

header {
    color: #ffffff;
}

ul {
    padding-right: 10vw;
    padding-left: 10vw;
}

li {
    list-style-type: none;
    text-align: justify;
    margin-bottom: 10px;
}

footer {
    margin-top: 15px;
}

.logo-eliti {
    margin-top: 5px;
}

b {
    color: #ffffff
}
